.rounded {
  border-radius: 10px !important;
}

.fade {
  padding: 20px;
  opacity: 0;
  transition: 0.8s;
}

.alert {
  background: none;
  border: none;
  padding: 30px;
}

.alert-text {
  padding: 10px;
  font-size: 20px;
  color: #404040;
  background-color: #FFFFFF;
  border: 3px solid #d924ed;
}

div.background {
  background: linear-gradient(45deg, #29e6d9, #d924ed);
}

.form-block {
  background-color: #FFFFFF;
  z-index: 10;
  padding: 50px;
}

.background-block-1 {
  top: -50%;
  left: -60%;
  background-color: #d4fbfb26;
}

.background-block-2 {
  top: 110%;
  left: -10%;
  background-color: #d4fbfb26;
}

.background-block-3 {
  top: 20%;
  left: 85%;
  background-color: #d4fbfb26;
}

.background-block {
  width: 80%;
  height: 80%;
  transform: rotateZ(60deg);
}

input.form-control {
  border: none;
  border-bottom: 2px solid #8f8f8f;
  border-radius: 0;
  padding: 15px;
}

#seminarSelect .css-13cymwt-control, .css-t3ipsp-control {
  border: none;
  border-bottom: 2px solid #8f8f8f;
  border-radius: 0;
  padding: 15px;
}

#seminarSelect.is-invalid .css-13cymwt-control, .css-t3ipsp-control {
  border-bottom: 2px solid #dc3545;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-1fdsijx-ValueContainer {
  padding: 0 !important;
}

button.btn {
  background-image: linear-gradient(45deg, #29e6d9, #d924ed) !important;
  width: 250px;
  max-height: 60px;
  margin-left: 5%;
  font-size: 20px;
  border: none;
  font-weight: 500;
  transition: 0.3s;
}

button.btn:hover {
  -webkit-box-shadow: 0px 0px 20px 7px rgba(137, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 20px 7px rgba(137, 255, 255, 0.5);
  box-shadow: 0px 0px 20px 7px rgba(137, 255, 255, 0.5);
}

@media screen and (max-width: 600px) {
  .form-block {
    padding: 20px;
  }

  .form-block h1 {
    text-align: center;
  }

  .send-block {
    display: block !important;
  }

  button.btn {
    width: 100%;
    margin-left: 0;
  }

  .fade {
    padding: 80px 20px;
  }

  input.form-control {
    padding: 10px;
  }

  #seminarSelect .css-13cymwt-control, .css-t3ipsp-control {
    padding: 10px;
  }


  .background-block {
    display: none;
  }

  body {
    overflow: auto;
    overflow-x: auto;
  }

  .background {
    display: block !important;
    overflow: scroll;
  }
}
